<html>
    <head>
        <title>$generalUtil.htmlEncode($pageTitle)</title>
    </head>

    #applyDecorator("root")
    #decoratorParam("context" "profile")
    #decoratorParam("mode" "myGroupDocsProfile")
    #decoratorParam("helper" $helper)

    <body>
        <style>
            form.aui .error {
                background-color: transparent;
            }

            #tokenError {
                background-color: #FFE7E7;
            }
        </style>

        <div class="page-section admin-trio profile-page">
            <div class="page-group">
                <div class="page-item profile-main">
                    <div>
                        <h2>GroupDocs Account Details</h2>
                        #if(!$groupDocsClientId || !$groupDocsPrivateKey)
                            <div class="aui-message warning shadowed">
                                <span class="svg-icon warning size-18"></span>
                                <p>You must provide your Client ID and API Key. Please login or enter your Client ID and API Key.</p>
                            </div>
                            <form action="$!req.contextPath/users/plugins/groupdocs/save.action" method="POST">
                                <label for="groupDocsLogin">Login: </label> <input type="text" name="groupDocsLogin" value="$!groupDocsLogin"/>
                                <label for="groupDocsPassword">Password: </label> <input type="password" name="groupDocsPassword" value="$!groupDocsPassword"/>
                                <input type="submit" value="Login"/>
                            </form>
                        #else
                            <form action="$!req.contextPath/users/plugins/groupdocs/save.action" method="POST">
                                <input type="hidden" name="groupDocsClientId" value=""/>
                                <input type="hidden" name="groupDocsPrivateKey" value=""/>
                                <input type="submit" value="Get Keys"/>
                            </form>
                        #end
                        <div style="margin-top: 20px;">
                            <form action="$!req.contextPath/users/plugins/groupdocs/save.action" method="POST">
                                <div>
                                    <label for="groupDocsClientId">Client ID: </label> <input type="text" name="groupDocsClientId" value="$!groupDocsClientId"/>
                                </div>
                                <div style="margin-top: 10px;">
                                    <label for="groupDocsPrivateKey">API Key: </label> <input type="text" name="groupDocsPrivateKey" value="$!groupDocsPrivateKey"/>
                                </div>
                                <input type="submit" value="Save"/>
                            </form>
                        </div>
                    </div>
                </div> <!-- end page-item profile-main div-->
            </div>
        </div>
    </body>
    #end
</html>

